<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title_block %}
            {{showTitle}}
        {% endblock title_block %}
    </title>
</head>
<p>
    <!-- Showing Below the WebPage Title -->
    <h2>{{showTitle}}</h2>
    <h4>{{showDesc}}</h4>

    <!-- Rendering the methods of 'request' from the python function -->
    <p>
        User Name: {{ request.user}} 
        <br>
        User Authentication: {{request.user.is_authenticated}}
    </p>

    {% block blockName %}
    
    <p><b>Dummy - Replace Me </b></p>
    
    {% endblock blockName %}

</body> 
</html>